/*Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { ... }

/*Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { ... }

/*Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { ... }

/*Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { ... }

/*Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

/*-----------------Index----------------------*/


@media (max-width: 575px) {
    .navbar .nav > li {
      float:none;
        display: block;
      vertical-align: top;
      }
}
@media (min-width: 320px) and (max-width: 767px) {
    #fondo h1{
        font-size: 2em;
    }
    #fondo{
    padding-top: 2.5em;
    padding-bottom: 1em;
    color: white;
    margin-top: 1em;
}
    #fondo h2{
    font-size: 2em;
    
}
    #fondo h3{
    font-size: 1em;
    
}
    .marco-1{
    margin-top: 8%
   
}

}
@media (min-width: 768px) and (max-width: 1023px) {
    #fondo{
        padding-top: 3em;
        padding-bottom: 2em;
        color: white;
}
    #fondo h1{
        font-size: 5em;
    }
     #fondo h2{
    font-size: 4em;
    
}
    #fondo h3{
    font-size: 2em;
    
}
    .marco-1{
    margin-top: 8%
   
}
}
@media (min-width: 1024px) and (max-width: 1199px) {
    #fondo{
        padding-top: 10em;
        padding-bottom: 4em;
        color: white;
}
    .marco-1{
    margin-top: 6%
   
}
}
@media (min-width: 1200px) and (max-width: 1400px) {
    #fondo{
        padding-top: 9.2em;
        padding-bottom: 4em;
        color: white;
}
}
@media (min-width: 1900px) { 
#fondo{
  padding-top: 27em;  
}
}

@media (min-width: 768px) and (max-width: 1000px) { ... }
.mov{
    margin-top: 1em;
    padding-left: 15%;
}
@media (min-width: 1900px) { 
.marco-1{
    border: 1px solid #83bd3f;
    margin-top: 3.5%
        
}
}


/*--------------------Programas------------------*/

