/*Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { ... }

/*Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { ... }

/*Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { ... }

/*Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { ... }

/*Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

@media (max-width: 575px) {
    .navbar .nav > li {
      float:none;
        display: block;
      vertical-align: top;
      }
}

@media (min-width: 320px) and (max-width: 1600px) {

        #fondo h2{
            text-align: center;
        }
}

@media (min-width: 320px) and (max-width: 767px) {
    #fondo h1{
        font-size: 3em;
    }
    #fondo{
    padding-top: 8em;
    padding-bottom: 4em;
    color: white;
    margin-top: 1em;
}
    #fondo h2{
    font-size: 2em;
    border-color: #83bd3f;
}

}
@media (min-width: 320px) and (max-width: 1600px) {

        #fondo{
    padding-top: 16.5em;
    padding-bottom: 4em;
    color: white;
}
}
@media (min-width: 768px) and (max-width: 1000px) { ... }
.mov{
    margin-top: 1em;
    padding-left: 15%;
}